{{ with .Site.GetPage "/projects" }}
{{ if .Pages }}
<div class="section" id="{{ .Title | urlize }}">
    <!-- Begin Projects container -->
    <div class="container">
        <div class="section">
            <div class="columns is-multiline">
                {{ $totalProjects := (len .Pages) }}
                {{ $numberOfProjectsToShow := .Site.Params.home.numberOfProjectsToShow | default $totalProjects }}
                {{ range $index, $element := .Pages.ByWeight | first $numberOfProjectsToShow }}
                {{ $width := "302x" }}
                {{ $columWidth := "is-one-third" }}
                {{ if .Site.Params.projects.useTwoColumns }}
                  {{ $columWidth = "is-half" }}
                  {{ $width = "490x" }}
                {{ end}}
                <div class="column {{ $columWidth }}">
                    <div class="card" data-target="#project-{{ $index }}">
                        {{ if .Resources.ByType "image" }}
                        <div class="card-image">
                            <figure class="image is-3by2">
                                {{ if .Params.external_link }} 
                                    <a href="{{ .Params.external_link }}">
                                        {{ with .Resources.ByType "image" }}
                                        {{ range first 1 (sort . "Params.weight") }}
                                        {{ $image := .Resize $width }}
                                            <img class="card-thumbnail" src="{{ $image.Permalink }}" alt ="{{ $image.Name }}">
                                        {{ end }}
                                        {{ end }}
                                    </a>
                                {{ else }}
                                    <a href="{{ $element.Permalink }}">
                                        {{ with .Resources.ByType "image" }}
                                        {{ range first 1 (sort . "Params.weight") }}
                                        {{ $image := .Resize $width }}
                                            <img class="card-thumbnail" src="{{ $image.Permalink }}" alt ="{{ $image.Name }}">
                                        {{ end }}
                                        {{ end }}
                                    </a>
                                {{ end }}
                            </figure>
                        </div>
                        {{ end }}
                        <div class="card-content has-text-centered top-pad">
                            {{ if .Params.external_link }} 
                                <h1><a href="{{ .Params.external_link }}">
                                    {{ .Title | markdownify }}
                                </a></h1>
                            {{ else }}
                                <h1><a href="{{ $element.Permalink }}">
                                    {{ .Title | markdownify }}
                                </a></h1>
                            {{ end }}
                            {{ if .Params.abstract }}
                                <p class="project-abstract">{{ .Params.abstract }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ if lt $numberOfProjectsToShow $totalProjects }}
            <div class="container has-text-centered top-pad">
                <a href="{{ .Permalink }}">{{ i18n "index_projects_allProjects" . }}</a>
            </div>
            {{ end }}
        </div>
    </div>
    <!-- End Projects container -->
    <!-- {{ partial "top-icon.html" . }} -->
</div>
<!-- End Projects section -->
<div class="container"><hr></div>
{{ end }}
{{ end }}
